<div class="form-group m-a-2 col-sm-6">

    <button class="btn btn-primary m-b-2" (click)="onClick()">Change color</button>

    <ng-content></ng-content>

    <div style="text-align: center"><label>Table of products</label></div>
    <table class="table table-striped table-bordered">
      <thead><tr>
        <th></th><th>Name</th><th>Category</th><th>Price</th>
      </tr></thead>
      <tbody>
        <tr #row *cdFor="let item of getProducts(); let index=index; let odd=odd; let func=func"
        [class.bg-success]="odd">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td [class]="!odd ? func : null">{{item.price}}</td>
        </tr>
      </tbody>
    </table>
</div>