<button style="margin-top: 15px" class="btn btn-default" routerLink="/addGroup">Add Group</button>

<h2>Groups</h2>
<span [hidden]=!isLoading>Loading...</span>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups | async">
      <th scope="row">
        {{group.id}}
      </th>
      <td>
        {{group.name | titlecase}}
      </td>
      <td>
        <a routerLink="/detail/{{group.id}}">Edit</a> |
      </td>
    </tr>
  </tbody>
</table>