<h2>Edit</h2>

<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class='form-horizontal'>

    <div class="validation-summary-errors text-danger" *ngIf="errors.length">
      <ul *ngFor="let error of errors">
        <li>{{error}}</li>
      </ul>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="Name">Name</label>
      <div class="col-md-10">
        <input formControlName="name" required class="form-control text-box single-line" id="name" name="Name" placeholder="name"
          type="text">
        <span class="text-danger field-validation-error" [hidden]="form.get('name').valid">
          <span for="Name" class="">
            The 'Name' field is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="Age">Age</label>
      <div class="col-md-10">
        <input formControlName="age" required class="form-control text-box single-line" id="age" name="Age" placeholder="age" type="text">
        <span class="text-danger field-validation-error" [hidden]="form.get('age').valid">
          <span for="Age" class="">
            The 'Age' field is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label [appError]="form.get('number').invalid" class="control-label col-md-2" for="Number">Number</label>
      <div class="col-md-10">
        <input formControlName="number" required class="form-control text-box single-line" id="number" name="Number" placeholder="Number" type="text">
        <span class="text-danger field-validation-error" [hidden]="!form.get('number').errors?.required">
          <span for="Number" class="">
            The 'Number' field is required
          </span>
        </span>
        <span class="text-danger field-validation-error" [hidden]="!form.get('number').errors?.numberValidator">
          <span for="Number" class="">
            The 'Number' field is invalid
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="Group">Group</label>
      <div class="col-md-10">

        <select  class="form-control" formControlName="group" id="group">
          <option *ngFor="let group of groups" [ngValue]="group" [selected]="group.id === selectedGroup.id">{{group.name}}</option>
        </select>

      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button type="submit" [disabled]="form.invalid" class="btn btn-default">Save</button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
        <a href="javascript:void(0)" (click)="goBack()">Back to contact</a>
      </div>
    </div>
  </div>
</form>